[html]
page_title = Change your password on example.org

[ldap]
host = localhost
port = 389
ca_cert = root-ca.pem
search_user_dn = cn=readonly,ou=People,dc=example,dc=org
search_user_password = verysecurepassword
base = ou=People,dc=example,dc=org
search_filter = uid={uid}

[server]
server = auto
host = localhost
port = 8080
